body {
  font-family: "Dancing Script", cursive;
  webkit-font-smoothing: antialiased;
  color: #232323;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

nav li {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

nav li :last-child a:hover {
  background: rgb(60, 156, 60);
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: rgb(60, 156, 60);
}

section.hero {
  background: rgb(95, 169, 186);
}

.add-to-cart {
  border: 2px solid rgb(95, 169, 186);
  color: rgb(95, 169, 186);
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: rgb(95, 169, 186);
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: rgb(60, 156, 60);
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: rgb(33, 90, 33);
}

section.cart .amount {
  color: rgb(95, 169, 186);
}
